# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# title: Documentation
# email: deep.main.ac@gmail.com
# description: >- # this means to ignore newlines until "baseurl:"
#   This Page contains a list of all Projects that I have ever created.
# # baseurl: "/documentation" # the subpath of your site, e.g. /blog
# url: "" # the base hostname & protocol for your site, e.g. http://example.com
# # twitter_username: jekyllrb
# github_username:  d33p0st

# Build settings
# theme: minima
remote_theme: pixeldroid/programming-pages
plugins:
  # - jekyll-feed
  - jekyll-remote-theme
  - jemoji

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# default site settings
# configure these values for your project
project:
  name: Documentation
  owner: d33p0st
  repo: https://github.com/d33p0st/documentation
  version: 1.1.0

collections:
  projects:
    output: true
    permalink: "/:collection/:path/"
    title: Projects
    tab-order: 1
  libraries:
    output: true
    permalink: "/:collection/:path"
    title: Libraries (Python)
    tab-order: 2
  crates:
    output: true
    permalink: "/:collection/:path"
    title: Crates (Rust)
    tab-order: 3
  actions:
    output: true
    permalink: "/:collection/:path"
    title: GitHub Actions
    tab-order: 4
  hackathons:
    output: true
    permalink: "/:collection/:path"
    title: Hackathons
    tab-order: 5

highlighter: rouge
kramdown:
  footnote_backlink: " "
permalink: pretty
sass:
  style: compressed